.navbar-dark .navbar-brand a {
    color: $white-two;
}
#wrapper-navbar .bg-dark {
    background-color: $light-navy !important;
    padding: 40px .5rem 28px;
}
.navbar-dark .navbar-nav .nav-link {
    color: $white-two;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: right;
}

@each $header in $range-head-title {
    #{$header} {
        color: $greyish-brown-two;
    }
}

@mixin p_large {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: left;
}

@mixin p_medium {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
}

p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: $greyish-brown-two;
    margin-bottom: 30px;
}

p {
    a {
        color: $red-brown;
    }
    a:hover {
        color: $red-brown;
    }
}

.p_large {
    p {
        @include p_large;
    }
}

.p_medium {
    p {
        @include p_medium;
    }
}

.p_nomargin {
    p {
        margin: 0;
        padding: 0;
    }
}

h1 {
    font-family: GothamNarrow;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: $greyish-brown-two;
}

h2 {
    font-family: GothamNarrow;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: left;
    color: $greyish-brown-two;
}

h3 {
    font-family: GothamNarrow;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 1px;
    text-align: left;
    color: $greyish-brown-two;
    margin-bottom: 14px;
}

h4 {
    font-family: GothamNarrow;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    text-align: left;
}

ul li {
    line-height: 36px;
}

@mixin btn_big {
    font-family: GothamNarrow;
    border: none;
    border-radius: 0px;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 167px;
    height: 62px;
    line-height: 52px;
    font-size: 18px ;
    padding: 5px 22px;
    cursor: pointer;
}

@mixin btn_small {
    font-size: 14px;
    height: 51px;
    line-height: 41px;
}

button.btn_cl {
    @include btn_big;

    &.small {
        @include btn_small;
    }
}

.btn {
    @include btn_big;

    &.marigold {
        background-color: $marigold;
        color: $light-navy;
    }
    &.marigold:hover {
        background-color: $light-navy;
        color: $white-two;
    }
    &.white {
        background-color: $white-two;
        color: $light-navy;
    }
    &.white:hover {
        background-color: $light-navy;
        color: $white-two;
    }
    &.small {
        @include btn_small;
    }
}

.dark_blue .marigold:hover {
    background-color: $white-two;
    color: $light-navy;
}

div[class^="col-"] {
    &.no_padding_both_sides {
        padding-left: 0px;
        padding-right: 0px;
    }
    &.no_padding_left_side {
        padding-left: 0px;
    }
    &.padding_all {
        padding: 50px;
    }
}

// HISTORIC SITE
.page-template-historic-site {
    h3 {
        color: $light-navy;
    }
}
.banner_image {
    & > img {
            width: 100%;
    }
}

.page-template-homepage-site {
    .banner_image {

        .heading{
            position: absolute;
            top: 0;
            padding: 0 200px;
            text-align: center;

            .align-middle {
                height: 514px; 
                display: table-cell;
            }
            .title{
                color: $white-two;
                text-align: center;
                margin-bottom: 15px;
            }
        }

        p {
            font-family: FreightTextProBook;
            font-size: 24px;
            line-height: 1.04;
            letter-spacing: normal;
            text-align: center;
            color: $white-two;
        }
    }
}

.our_work {
    text-align: center;
    h2 {
        font-size: 20px;
        letter-spacing: 1.4px;
        text-align: center;
        color: $white-two;
        text-transform: uppercase;
    }
    p {
        font-family: FreightTextProBook;
        font-weight: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: $white-two;
        margin-bottom: 0px;
    }
    .focus {
        padding: 37px 50px;
        text-align: center;

        img {
            height: 64px;
            margin-bottom: 18px;
        }
    }
    .focus1 {
        background-color: $nice-blue;
    }
    .focus2 {
        background-color: $red-brown;
    }
    .focus3 {
        background-color: $nice-blue;
    }
}

.section_temporal {
    h3 {
        font-size: 36px;
        line-height: normal;
        letter-spacing: 0.7px;
        color: $light-navy;
        margin-bottom: 25px;
    }
}

.featured_post {
    background-color: $red-brown;

    h3 {
        font-size: 36px;
        line-height: normal;
        letter-spacing: 0.7px;
        color: $white-two;
        margin-bottom: 25px;
    }
    p {
        color: $white-two;
    }
    a {
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: $white-two;
    }
}

.content_side {
    padding: 56px 61px;

    .side_text {
        max-width: 550px;

        & > p {
            @include p_medium;
            color: $greyish-brown-two;
        }
    }

    img {
        width: 100%;
    }
    .content_address {
        &, & > * {
            text-align: right;
        }
        h3 {
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 3px;
            :first-child {
                margin-top: 0px;
            }
        }
        p {
            color: $light-navy;
            line-height: 22px;
        }
        .btn {
            margin-top: 30px;
        }
        &.greyish p {
            color: $greyish-brown-two;
        }
        &.map iframe{
            height: 242px;
        }
    }

}

.intro_text p{
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: $greyish-brown-two;
}

// FLEXIBLE CONTENT
.content_related {
    padding: 53px 33px 53px 65px;
    min-height: 100%;

    .title_related {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
    }
    .see_all {
        position: absolute;
        bottom: 53px;
        right: 82px;
        font-style: italic;
    }
    .wrapper_related {
        padding: 30px 0px 21px;


        .card_related + .card_related {
            margin-top: 17px;
        }

        .card_related {
            display: flex;
            justify-content: flex-start;

            &:last-child {
                margin-bottom: 21px;
            }
            .side_content_related {
                * + * {
                    margin-top: 5px; 
                    display: block;
                }

                a {
                    font-style: italic;
                }
            }
            .title_cont {
                font-size: 15px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.47;
                letter-spacing: normal;
                text-align: left;
                display: block;
                max-width: 350px; 
            }
        }
    }

    &.events {
        background-color: $marigold;
        color: $light-navy;

        .card_related {

            .date_release {
                width: 37px;
                height: 37px;
                background-color: $light-navy;
                margin-right: 17px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;

                span {
                    line-height: 1.1;
                    padding: 0px 2px 0px;
                    color: $white-two;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 10px
                }
            }
            .title_cont {
                font-weight: 500;
            }
            .time_range {
                font-weight: 300;
                line-height: 1.47;
            }
        }
        a {
            color: $light-navy;
            
        }
    }
    &.stories  {
        
        background-color: $red-brown;
        color: $white-two;

        .card_related {

            .title_cont {
                font-weight: 300;
            }
        }

        a {
            color: $white-two;
        }
    }
}

.content_two_columns {
    padding: 60px 30px;

    @each $header in $range-head-title {
        #{$header} {
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            margin: 0;
            text-align: left;
        }
    }
    &.intro {
        @each $header in $range-head-title {
            #{$header} {
                color: $nice-blue !important;
            }
        }
    }
    &.basic {
        @each $header in $range-head-title {
            #{$header} {
                color: $light-navy !important;
                letter-spacing: 1px;
            }
        }
    }
    .content_media {
        & > p {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: $greyish-brown-two;
            padding: 0;
            margin: 25px 0;
        }
        img, iframe {
            display: block;
            margin: 0 auto;
        }
        iframe {
            width: 100%;
            height: 242px;
        }
        .owl-carousel {
            .item > img {
            }
        }
    }
}

/* Style Image */
.content_images {
    .pair_image {
        &_1 {
            img {
                width: 100%;
            }
        }
        &_2 {
            img {
                height: 373px;
            }
        }
        &_3 {
            img {
                height: 272px;
            }
        }
    }
    .owl-carousel {
        .item > img {
            height: 272px;
        }
    }
}

/* Style Headline */
.content_headline {
    h1, h2 {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
    }
    &.primary {
        h1 {
            color: $white-two;
        }
        padding: 46px 0px;
        background-color: $light-navy;
        color: $white-two;
    }
    &.secondary {
        &_white, &_gray {
            padding: 21px 0px;
        }
        &_white {
            background-color: $white-two;
            
            & > h2 {
                color: $nice-blue;
            }
        }
        &_gray {
            background-color: $white-three;

            & > h2 {
                color: $light-navy;
            }
        }
    }
}
.margin_bottom {
    margin-bottom: 35px;
}
/*  Style CTA  */
.content_action_block {
    padding: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
        margin: 0 auto;
        text-align: center;
    }
    & > p {
        line-height: 1.04;
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        letter-spacing: 1.2px;
        max-width: 519px;
    }
    p {
        margin-top: 25px;
    }
    .content_button {
        display: flex;
        margin-top: 50px;
        
        button + button {
           margin-left: 34px;
        }
    }
   
    &.none {
        background: $white-two;       

        @each $header in $range-head-title {
            #{$header} {
                color: $nice-blue;
            }
        }
        p {
            max-width: 618px;
            color: $greyish-brown-two;
        }
        button {
            background-color: $marigold;
            color: $light-navy;

            &:hover {
                background-color: $light-navy;
                color: $white-two;
            }
        }
    }
    &[class$="blue"] {
        button {
            background-color: $marigold;
            color: $light-navy;

            &:hover {
                background-color: $white-two;
                color: $light-navy;
            }
        }
    }

    &.dark_blue {
        background-color: $light-navy;
        color: $white-two;

        @each $header in $range-head-title {
            #{$header} {
                color: $white-two;
            }
        }
        p {
            color: $white-two;
        }
    }
    &.gold {
        background-color: $marigold;
        color: $light-navy;

        @each $header in $range-head-title {
            #{$header} {
                color: $light-navy;
            }
        }
        button {
            background-color: $light-navy;
            color: $white-two;

            &:hover {
                background-color: $white-two;
                color: $light-navy;
            }
        }
    }
    &.red {
        background-color: $red-brown;
        color: $white-two;

        @each $header in $range-head-title {
            #{$header} {
                color: $white-two;
            }
        }
        button {
            background-color: $white-two;
            color: $light-navy;

            &:hover {
                background-color: $light-navy;
                color: $white-two;
            }
        }
    }
}  

/* Styles for OWL default */
div.owl-nav {
    position: absolute;
    z-index: 9999;
    color: $white-two;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;

    button {
        span {
            font-size: 40px;
        }
    }
    .owl-prev {
        margin-left: 20px;
    }
    .owl-next {
        margin-right: 20px;
    }
}

div.owl-dots {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    height: 50px;
        
    button > span {
        display: none;
    }
    .owl-dot {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: $aux_gray;

        &.active {
            background-color: $red-brown;
        }
        & + .owl-dot {
            margin-left: 13px;
        }
    }   
}

// Highlight blue
.highlight {
    h1, h2, h3, h4 {
        color: $white-two;
        margin-bottom: 25px;
    }
    &.blue {
        background-color: $light-navy;
    }
    p {
        color: $white-two;
    }
}

// Tables
.table {
    td {
        font-family: GothamNarrow;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: left;
        color: $nice-blue;
        border-top: 1px solid $light-navy;
        border-left: 3px solid $light-navy;
    }
    tr:first-child td{
        border-top: 0 !important;
    }
    td:first-child{
        border-left: 0 !important;
        color: $light-navy !important;
    }
}

iframe {
    width: 100%;
}

// Footer
#wrapper-footer {
    background-color: $nice-blue;
    padding: 55px 0 68px;
}

#wrapper-footer #footer-menu{
    list-style: none;
    margin: 0;
}

#wrapper-footer #footer-menu a{
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.5px;
    text-align: right;
    color: #ffffff;
    color: $white-two;
}