@import url("https://use.typekit.net/ixo4yjx.css");

.navbar-dark .navbar-brand a {
    color: $white-two;
}
#wrapper-navbar .bg-dark {
    background-color: $light-navy !important;
    padding: 40px .5rem 28px;
}
.navbar-dark .navbar-nav .nav-link {
    color: $white-two;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: right;
}

.dark_blue .marigold:hover {
    background-color: $white-two;
    color: $light-navy;
}

div[class^="col-"] {
    &.no_padding_both_sides {
        padding-left: 0px;
        padding-right: 0px;
    }
    &.no_padding_left_side {
        padding-left: 0px;
    }
    &.padding_all {
        padding: 50px;
    }
}

.our_work {
    text-align: center;
    h2 {
        font-size: 20px;
        letter-spacing: 1.4px;
        text-align: center;
        color: $white-two;
        text-transform: uppercase;
    }
    p {
        font-family: FreightTextProBook;
        font-weight: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: $white-two;
        margin-bottom: 0px;
    }
    .focus {
        padding: 37px 50px;
        text-align: center;

        img {
            height: 64px;
            margin-bottom: 18px;
        }
    }
    .focus1 {
        background-color: $nice-blue;
    }
    .focus2 {
        background-color: $red-brown;
    }
    .focus3 {
        background-color: $nice-blue;
    }
}

.section_temporal {
    h3 {
        font-size: 36px;
        line-height: normal;
        letter-spacing: 0.7px;
        color: $light-navy;
        margin-bottom: 25px;
    }
}

.select-container {
    position: relative;
    margin-top: 40px !important;

    .select-custom {
        position: relative;
        width: 308px;
        display: inline-block;
        margin-right: 18px;
    }
    .select-custom:before {
        position: absolute;
        content: '';
        display: block;
        right: 11px;
        width: 0;
        height: 0;
        border: solid $light-navy;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        top: calc(50% - 9px);
        pointer-events: none; 
    }
    select {
        font-family: GothamNarrow;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 51px;
        letter-spacing: 0.4px;
        color: $light-navy;
        background: linear-gradient(to right, #F5F5F5 0%, #F5F5F5 calc(100% - 35px), #FFC30E calc(100% - 35px), #FFC30E 100%);
        padding: 0 55px 0 20px;
        border: none;
        transition: border 300ms ease;
        border-radius: 0;
        width: 100%;
        height: 51px;
        -moz-appearance: none;
        -webkit-appearance: none;
        text-transform: uppercase;
    }
}

.featured_post {
    background-color: $red-brown;

    h3 {
        font-size: 36px;
        line-height: normal;
        letter-spacing: 0.7px;
        color: $white-two;
        margin-bottom: 25px;
    }
    p {
        color: $white-two;
    }
    a {
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: $white-two;
    }
}

.content_side {
    padding: 56px 61px;

    .side_text {
        max-width: 550px;

        & > p {
            @include p_medium;
            color: $greyish-brown-two;
        }
    }

    img {
        width: 100%;
    }
    .content_address {
        &, & > * {
            text-align: right;
        }
        h3 {
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 3px;
            :first-child {
                margin-top: 0px;
            }
        }
        p {
            color: $light-navy;
            line-height: 22px;
        }
        .btn {
            margin-top: 30px;
        }
        &.greyish p {
            color: $greyish-brown-two;
        }
        &.map iframe{
            height: 242px;
        }
    }

}

.intro_text p{
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: $greyish-brown-two;
}

.content_two_columns {
    padding: 60px 30px;

    @each $header in $range-head-title {
        #{$header} {
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            margin: 0;
            text-align: left;
        }
    }
    &.intro {
        @each $header in $range-head-title {
            #{$header} {
                color: $nice-blue !important;
            }
        }
    }
    &.basic {
        @each $header in $range-head-title {
            #{$header} {
                color: $light-navy !important;
                letter-spacing: 1px;
            }
        }
    }
    .content_media {
        & > p {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: $greyish-brown-two;
            padding: 0;
            margin: 25px 0;
        }
        img, iframe {
            display: block;
            margin: 0 auto;
        }
        iframe {
            width: 100%;
            height: 242px;
        }
        .owl-carousel {
            .item > img {
            }
        }
    }
}

/* Style Image */
.content_images {
    .pair_image {
        &_1 {
            img {
                width: 100%;
            }
        }
        &_2 {
            img {
                height: 373px;
            }
        }
        &_3 {
            img {
                height: 272px;
            }
        }
    }
    .owl-carousel {
        .item > img {
            height: 272px;
        }
    }
}

/* Style Headline */
.content_headline {
    h1, h2 {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
    }
    &.primary {
        h1 {
            color: $white-two;
        }
        padding: 46px 0px;
        background-color: $light-navy;
        color: $white-two;
    }
    &.secondary {
        &_white, &_gray {
            padding: 21px 0px;
        }
        &_white {
            background-color: $white-two;
            
            & > h2 {
                color: $nice-blue;
            }
        }
        &_gray {
            background-color: $white-three;

            & > h2 {
                color: $light-navy;
            }
        }
    }
}
.margin_bottom {
    margin-bottom: 35px;
}
/*  Style CTA  */
.content_action_block {
    padding: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
        margin: 0 auto;
        text-align: center;
    }
    & > p {
        line-height: 1.04;
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        letter-spacing: 1.2px;
        max-width: 519px;
    }
    p {
        margin-top: 25px;
    }
    .content_button {
        display: flex;
        margin-top: 50px;
        
        button + button {
           margin-left: 34px;
        }
    }
   
    &.none {
        background: $white-two;       

        @each $header in $range-head-title {
            #{$header} {
                color: $nice-blue;
            }
        }
        p {
            max-width: 618px;
            color: $greyish-brown-two;
        }
        button {
            background-color: $marigold;
            color: $light-navy;

            &:hover {
                background-color: $light-navy;
                color: $white-two;
            }
        }
    }
    &[class$="blue"] {
        button {
            background-color: $marigold;
            color: $light-navy;

            &:hover {
                background-color: $white-two;
                color: $light-navy;
            }
        }
    }

    &.dark_blue {
        background-color: $light-navy;
        color: $white-two;

        @each $header in $range-head-title {
            #{$header} {
                color: $white-two;
            }
        }
        p {
            color: $white-two;
        }
    }
    &.gold {
        background-color: $marigold;
        color: $light-navy;

        @each $header in $range-head-title {
            #{$header} {
                color: $light-navy;
            }
        }
        button {
            background-color: $light-navy;
            color: $white-two;

            &:hover {
                background-color: $white-two;
                color: $light-navy;
            }
        }
    }
    &.red {
        background-color: $red-brown;
        color: $white-two;

        @each $header in $range-head-title {
            #{$header} {
                color: $white-two;
            }
        }
        button {
            background-color: $white-two;
            color: $light-navy;

            &:hover {
                background-color: $light-navy;
                color: $white-two;
            }
        }
    }
}  

/* Styles for OWL default */
div.owl-nav {
    position: absolute;
    z-index: 9999;
    color: $white-two;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;

    button {
        span {
            font-size: 40px;
        }
    }
    .owl-prev {
        margin-left: 20px;
    }
    .owl-next {
        margin-right: 20px;
    }
}

div.owl-dots {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    height: 50px;
        
    button > span {
        display: none;
    }
    .owl-dot {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: $aux_gray;

        &.active {
            background-color: $red-brown;
        }
        & + .owl-dot {
            margin-left: 13px;
        }
    }   
}

// Highlight blue
.highlight {
    h1, h2, h3, h4 {
        color: $white-two;
        margin-bottom: 25px;
    }
    &.blue {
        background-color: $light-navy;
    }
    p {
        color: $white-two;
    }
}

// Tables
.table {
    td {
        font-family: $font-family-header;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: left;
        color: $nice-blue;
        border-top: 1px solid $light-navy;
        border-left: 3px solid $light-navy;
    }
    tr:first-child td{
        border-top: 0 !important;
    }
    td:first-child{
        border-left: 0 !important;
        color: $light-navy !important;
    }
}

iframe {
    width: 100%;
<<<<<<< HEAD
}

// Footer
#wrapper-footer {
    background-color: $nice-blue;
    padding: 55px 0 68px;
}

#wrapper-footer #footer-menu{
    list-style: none;
    margin: 0;
}

#wrapper-footer #footer-menu a{
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.5px;
    text-align: right;
    color: #ffffff;
    color: $white-two;
}

.footer {
    color: $white-two;

    p {
        font-family: GothamNarrow;
        font-size: 13px;
        font-weight: normal;
        line-height: 1.62;
        letter-spacing: 0.3px;
        text-align: left;
        line-height: 1.62;
        margin-bottom: 0px;
        color: $white-two;
    }

    #mc_embed_signup {
        margin-bottom: 30px;
        background-color: transparent !important;

        form {
            padding: 0 !important;
            margin: 0 !important;
        }

        input.email {
            background-color: $white-two;
            margin: 0 !important;
            display: inline-block;
            line-height: 39px;
            height: 39px;
            max-width: 242px;
            border: 1px solid $white-two;
            border-radius: 0;
        }

        input.button{
            display: inline-block;
            @include btn_big;
            font-size: 14px;
            height: 39px;
            line-height: 30px;
            background-color: $marigold;
            color: $light-navy;

            &:hover {
                background-color: $light-navy;
                color: $white-two;
            }
        }
    }
    .social_media {
        text-align: center;

        a {
            margin-right: 12px;
            display: inline-block;
        }
        .btn.marigold {
            border: solid 1px $marigold;
            background-color: transparent;
            color: $white-two;
            margin-top: 38px;
        }
    }
=======
>>>>>>> 9d1a196fdfd96fe114526f42b6ad5892db672c97
}