.dark_blue .marigold:hover {
    background-color: $white;
    color: $dark-blue;
}

div[class^="col-"] {
    &.no_padding_both_sides {
        padding-left: 0px;
        padding-right: 0px;
    }
    &.no_padding_left_side {
        padding-left: 0px;
    }
    &.padding_all {
        padding: 50px;
    }
}

.section_temporal {
    h3 {
        font-size: 36px;
        line-height: normal;
        letter-spacing: 0.7px;
        color: $dark-blue;
        margin-bottom: 25px;
    }
}

.margin_bottom {
    margin-bottom: 35px;
}

/* Styles for OWL default */
div.owl-nav {
    position: absolute;
    z-index: 9999;
    color: $white;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;

    button {
        span {
            font-size: 40px;
        }
    }
    .owl-prev {
        margin-left: 20px;
    }
    .owl-next {
        margin-right: 20px;
    }
}

div.owl-dots {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    height: 50px;
        
    button > span {
        display: none;
    }
    .owl-dot {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: $aux_gray;

        &.active {
            background-color: $red-brown;
        }
        & + .owl-dot {
            margin-left: 13px;
        }
    }   
}

// Highlight blue
.highlight {
    h1, h2, h3, h4 {
        color: $white;
        margin-bottom: 25px;
    }
    &.blue {
        background-color: $dark-blue;
    }
    p {
        color: $white;
    }
}

iframe {
    width: 100%;
}

.page-contact {
    text-align: center;

    article h1 {
        font-family: $font-family-header;
        font-size: 36px;
        letter-spacing: 0.7px;
        text-align: center;
        color: $nice-blue;
        margin-bottom: 30px;
    }
}

a.acf-button.button.button-primary {
    background: indianred;
    border-color: #9a3a3a;
    box-shadow: 0 1px #6f1717;
    text-shadow: 0 -1px 1px #6f1717, 1px 0 1px #6f1717, 0 1px 1px #6f1717, -1px 0 1px #6f1717;
}