// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//
$font-family-base: "Noto Serif", Georgia, Times, "Times New Roman", serif;
$font-family-header: "Roboto", "Helvetica Neue", Arial, sans-serif;

$white-one: #f6f5f5;
$white: #ffffff;
$white-three: #f2f2f2;
$dark-blue : #15467b;
$marigold: #ffca05;
$nice-blue: #0f7ab5;
$greyish-brown: #4a4a4a;
$greyish-brown-two: #4a4a4a;
$red-brown: #91331a;
$aux_gray: #d8d8d8;
$gray_2: #979797;
$primary: $greyish-brown;
$range-head-title: (h1, h2, h3, h4);

$grid-gutter-width: 3rem;
$max-width: 1300px;
$narrow-width: 618px;
$mid-width: 800px;

$anim-dur : 800ms;

// MIXINS

@mixin font-sizing($fsize, $lheight) {
    font-size: $fsize/16 * 1em;
    line-height: $lheight/$fsize;
}

/* $weight = 700,500,400 */

@mixin labelfont($weight: 700) {
  font-family:$font-family-header;
  text-transform:uppercase;
  font-size:.875em;
  letter-spacing: .08em;
  font-weight: $weight;
  @include font-smoothing;
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin narrow_block {
  max-width: $narrow-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin mid_width_block {
  max-width: $mid-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin max_block {
	margin-right: -1.5rem;
	margin-left: -1.5rem;
    
  .row {
	  margin-left: auto;
	  margin-right: auto;
	  max-width: $max-width;
	  padding-right: 1rem;
    padding-left: 1rem;

	  @include media-breakpoint-up(md) { 	
	  	padding-right: 1.5rem;
	    padding-left: 1.5rem;
	  }
  }
}

@mixin date_release {
    width: 37px;
    height: 37px;
    background-color: $dark-blue;
    margin-right: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    span {
        line-height: 1.1;
        padding: 0px 2px 0px;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        font-size: 10px;
    }
}

@each $header in $range-head-title {
    #{$header} {
        color: $greyish-brown-two;
    }
}