// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//
$font-family-base: FreightTextProBook, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$white-one: #f6f5f5;
$white-two: #ffffff;
$light-navy: #15467b;
$marigold: #ffca05;
$nice-blue: #0f7ab5;
$greyish-brown: #4a4a4a;
$white-three: #f2f2f2;
$greyish-brown-two: #4a4a4a;
$red-brown: #91331a;
$aux_gray: #d8d8d8;
$primary: $greyish-brown;
$range-head-title: (h1, h2, h3, h4);

