// Footer
#wrapper-footer {
    background-color: $nice-blue;
    padding: 55px 0 68px;
}

#wrapper-footer #footer-menu{
    list-style: none;
    margin: 0;
}

#wrapper-footer #footer-menu a{
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.5px;
    text-align: right;
    color: #ffffff;
    color: $white;
}

.footer {
    color: $white;
    @include font-smoothing;
    font-family: $font-family-header;

    ul li {
        text-align: right;
        line-height: 21px;
    }

    #mc_embed_signup {
        margin-bottom: 30px;
        background-color: transparent;

        form {
            padding: 0;
            margin: 0;
        }

        input.email {
            background-color: $white;
            margin: 0;
            display: inline-block;
            line-height: 39px;
            height: 39px;
            min-width: 19em;
            border: 1px solid $white;
            border-radius: 0;
            padding: 0 1em;

            &::placeholder {
                font-size:13px;
            }
        }

        input.button{
            display: inline-block;
            @include btn_big;
            font-size: 14px;
            height: 39px;
            line-height: 30px;
            background-color: $marigold;
            color: $dark-blue;

            &:hover {
                background-color: $dark-blue;
                color: $white;
            }
        }
    }
    .social_media {
        text-align: center;

        a {
            margin-right: 12px;
            display: inline-block;
        }
        .btn.marigold {
            border: solid 1px $marigold;
            background-color: transparent;
            color: $white;
            margin-top: 38px;
        }
    }
}

.footer--contact-details p {
    @include font-sizing(14, 21);
    font-weight: 300;
    margin-bottom: 0;
    color:$white;

    .gold {
        display: inline-block;
        margin: 0 .5em;
    }
}