@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto:400,500,700');

@mixin p_large {
    @include font-sizing(22,28);
    margin-bottom: 28px;
    @include font-smoothing;
}

@mixin p_medium {
    @include font-sizing(17,24);
    margin-bottom: 24px;
    @include font-smoothing;
}

body {
    font-size: 16px;
    color: $primary;
}

p {
    @include font-sizing(15,22);
    margin: 0 0 22px;

    a {
        color: $red-brown;
    }
    a:hover {
        color: $red-brown;
        text-decoration: underline;
    }
}
.content-area {
    a:not(.btn) {
        color: $red-brown;

        &:hover {
            color: $red-brown;
            text-decoration: underline;
        }
    }
}

.p_large {
    p {
        @include p_large;
    }
}

.p_medium {
    p {
        @include p_medium;
    }
}

.p_nomargin {
    p {
        margin: 0;
        padding: 0;
    }
}

.gold {
    color: $marigold;
}


.intro_text p {
  @include p_large;
  text-align: center;
}

h1 {
    font-family: $font-family-header;
    @include font-sizing(48,54);
    font-weight: 500;
    letter-spacing: 0.9px;
    color: $greyish-brown-two;
    margin-bottom: 20px;
}

h2 {
    font-family: $font-family-header;
    @include font-sizing(36,44);
    font-weight: 500;
    letter-spacing: 0.7px;
    color: $greyish-brown-two;
    margin-bottom: 12px;
}

h3 {
    font-family: $font-family-header;
    @include font-sizing(21,28);
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 1px;
    color: $greyish-brown-two;
    margin-bottom: 12px;
}

h4 {
    font-family: $font-family-header;
    @include font-sizing(18,24);
    font-weight: 500;
    letter-spacing: 0.06em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-smoothing;

    .content-area &,
    .widget_text & {
        color: $nice-blue;
    }
}

h5,
h6 {
    font-weight: 600;
}

ul li {
    line-height: 36px;
}

@mixin btn_big {
    font-family: $font-family-header;
    border: none;
    border-radius: 0px;
    font-weight: bold;
    text-transform: uppercase;
    height: 62px;
    line-height: 52px;
    font-size: 18px ;
    padding: 5px 22px;
    cursor: pointer;
    letter-spacing: 0.1em;
    background-color: $marigold;
    color: $dark-blue;
    @include font-smoothing;
}

@mixin btn_small {
    font-size: 14px;
    height: 51px;
    line-height: 41px;
}

button.btn_cl {
    @include btn_big;

    &.small {
        @include btn_small;
    }
}

.btn {
    @include btn_big;
    border: 0 none;

    &:hover {
        background-color: $dark-blue;
        color: $white;
    }
    &.white {
        background-color: $white;
        color: $dark-blue;
    }
    &.white:hover {
        background-color: $dark-blue;
        color: $white;
    }
    &.small {
        @include btn_small;
    }
}
/* FORMS */

select {
    @include labelfont();
    font-weight: 500;
}

.select-container,
.wpforms-field-container {
    position: relative;
    display: inline-block;
    margin-right: 18px;
}

.select-container:after,
.wpforms-field-container:after {
    position: absolute;
    content: '';
    display: block;
    right: 11px;
    width: 0;
    height: 0;
    border: solid $dark-blue;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    top: calc(50% - 9px);
    pointer-events: none; 
}

select.select-custom {
    color: $dark-blue;
    background: linear-gradient(to right, $white-one 0%, $white-one calc(100% - 35px), $marigold calc(100% - 35px), $marigold 100%);
    padding: 0 55px 0 20px;
    border: none;
    transition: border 300ms ease;
    border-radius: 0;
    height: 51px;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    border-radius: 0;
}

/* Tables */

.table {
    td {
        font-family: $font-family-header;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.04em;
        text-align: left;
        color: $nice-blue;
        border-top: 1px solid $dark-blue;
        border-left: 1px solid $dark-blue;
        padding: .75rem 1em;
    }
    tr:first-child td{
        border-top: 0;
    }
    td:first-child{
        border-left: 0;
        color: $dark-blue;
    }
}
