// FLEXIBLE CONTENT
.content_related {
    padding: 53px 33px 53px 65px;
    min-height: 100%;

    .title_related {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
    }
    .see_all {
        position: absolute;
        bottom: 53px;
        right: 82px;
        font-style: italic;
    }
    .wrapper_related {
        padding: 30px 0px 21px;


        .card_related + .card_related {
            margin-top: 17px;
        }

        .card_related {
            display: flex;
            justify-content: flex-start;

            &:last-child {
                margin-bottom: 21px;
            }
            .side_content_related {
                * + * {
                    margin-top: 5px; 
                    display: block;
                }

                a {
                    font-style: italic;
                }
            }
            .title_cont {
                font-size: 15px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.47;
                letter-spacing: normal;
                text-align: left;
                display: block;
                max-width: 350px; 
            }
        }
    }

    &.events {
        background-color: $marigold;
        color: $light-navy;

        .card_related {

            .date_release {
                @include date_release;
            }
            .title_cont {
                font-weight: 500;
            }
            .time_range {
                font-weight: 300;
                line-height: 1.47;
            }
        }
        a {
            color: $light-navy;
            
        }
    }
    &.stories  {
        
        background-color: $red-brown;
        color: $white-two;

        .card_related {

            .title_cont {
                font-weight: 300;
            }
        }

        a {
            color: $white-two;
        }
    }
}

.content_two_columns {
    padding: 60px 0;

    @each $header in $range-head-title {
        #{$header} {
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            margin: 0;
            text-align: left;
        }
    }
    &.intro {
        @each $header in $range-head-title {
            #{$header} {
                color: $nice-blue !important;
            }
        }
    }
    &.basic {
        @each $header in $range-head-title {
            #{$header} {
                color: $light-navy !important;
                letter-spacing: 1px;
            }
        }
    }
    &.sidebar {
        @each $header in $range-head-title {
            #{$header} {
                color: $light-navy !important;
                letter-spacing: 1px;
                margin-bottom: 15px;
            }
        }
        h2 {
            color: $nice-blue !important;
            margin-bottom: 25px;
        }
        .content_media {
            p {
                margin: 0;
            }
        }
        .left-column {
            p {
                font-size: 20px;
            }
        }
        .right-column {
            @each $header in $range-head-title {
                #{$header} {
                    margin-top: 15px;
                }

                #{$header}:first-child {
                    margin-top: 0;
                }
            }
        }
    }
    .content_media {
        & > p {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: $greyish-brown-two;
            padding: 0;
            margin: 25px 0;
        }
        img, iframe {
            display: block;
            margin: 0 auto;
        }
        iframe {
            width: 100%;
            height: 242px;
        }
        .owl-carousel {
            .item > img {
            }
        }
    }
    .label-column {
        label {
            font-family: GothamNarrow;
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.05;
            letter-spacing: normal;
            text-align: left;
            color: $light-navy;
        }
    }
    .left-column,
    .right-column {
        text-align: left;
        p {
            font-family: FreightTextProBook;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
        }
        strong {
            font-family: FreightTextProBold;
        }
        em {
            font-family: FreightTextPro;
            font-style: italic;
        }
        img {
            margin: initial;
            margin-bottom: 10px;
        }
    }
    &.with_label {
        .left-column,
        .right-column {
            p {
                margin: 0;
            }
        }
    }
    &.gray {
        background-color: $white-three;
    }
}

.content_three_columns{
    padding: 60px 0;

    @each $header in $range-head-title {
        #{$header} {
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            margin: 0;
            text-align: left;
        }
    }

    .left-column,
    .center-column,
    .right-column {
        text-align: left;
        p {
            margin: 0;
            font-family: FreightTextProBook;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
        }
        strong {
            font-family: FreightTextProBold;
        }
        em {
            font-family: FreightTextPro;
            font-style: italic;
        }
        img {
            margin: initial;
            margin-bottom: 10px;
        }
    }
    &.gray {
        background-color: $white-three;
    }
}

/* Style Headline */
.content_headline {
    h1, h2 {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
    }
    &.primary {
        h1 {
            color: $white-two;
        }
        padding: 46px 0px;
        background-color: $light-navy;
        color: $white-two;
    }
    &.secondary {
        &_white, &_gray {
            padding: 21px 0px;
        }
        &_white {
            background-color: $white-two;
            
            & > h2 {
                color: $nice-blue;
            }
        }
        &_gray {
            background-color: $white-three;

            & > h2 {
                color: $light-navy;
            }
        }
    }
}

/* Style Image */
.content_images {
    .pair_image {
        &_1 {
            img {
                width: 100%;
            }
        }
        &_2 {
            img {
                height: 373px;
            }
        }
        &_3 {
            img {
                height: 272px;
            }
        }
    }
    .owl-carousel {
        .item > img {
            height: 272px;
        }
    }
}

/*  Style CTA  */
.content_action_block {
    padding: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
        margin: 0 auto;
        text-align: center;
    }
    & > p {
        line-height: 1.04;
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        letter-spacing: 1.2px;
        max-width: 519px;
    }
    p {
        margin-top: 25px;
    }
    .content_button {
        display: flex;
        margin-top: 50px;
        
        button + button {
           margin-left: 34px;
        }
    }
   
    &.none {
        background: $white-two;       

        @each $header in $range-head-title {
            #{$header} {
                color: $nice-blue;
            }
        }
        p {
            max-width: 618px;
            color: $greyish-brown-two;
        }
        button {
            background-color: $marigold;
            color: $light-navy;

            &:hover {
                background-color: $light-navy;
                color: $white-two;
            }
        }
    }
    &[class$="blue"] {
        button {
            background-color: $marigold;
            color: $light-navy;

            &:hover {
                background-color: $white-two;
                color: $light-navy;
            }
        }
    }

    &.dark_blue {
        background-color: $light-navy;
        color: $white-two;

        @each $header in $range-head-title {
            #{$header} {
                color: $white-two;
            }
        }
        p {
            color: $white-two;
        }
    }
    &.gold {
        background-color: $marigold;
        color: $light-navy;

        @each $header in $range-head-title {
            #{$header} {
                color: $light-navy;
            }
        }
        button {
            background-color: $light-navy;
            color: $white-two;

            &:hover {
                background-color: $white-two;
                color: $light-navy;
            }
        }
    }
    &.red {
        background-color: $red-brown;
        color: $white-two;

        @each $header in $range-head-title {
            #{$header} {
                color: $white-two;
            }
        }
        button {
            background-color: $white-two;
            color: $light-navy;

            &:hover {
                background-color: $light-navy;
                color: $white-two;
            }
        }
    }
}  
