form[id*=give-form] .give-donation-amount .give-currency-symbol.give-currency-position-before,
form[id*=give-form] #give-final-total-wrap .give-donation-total-label {
    background: $nice-blue;
    color: white;
    border-color: $nice-blue;
    font-family: $font-family-header;
}

.give-submit-button-wrap .give-submit {
    @extend .btn;
}

#give-recurring-form h3.give-section-break, #give-recurring-form h4.give-section-break, #give-recurring-form legend, form.give-form h3.give-section-break, form.give-form h4.give-section-break, form.give-form legend, form[id*=give-form] h3.give-section-break, form[id*=give-form] h4.give-section-break, form[id*=give-form] legend {
    @extend h4;
}

.give-form-1194 {
    .give-btn-reveal {
    	margin: 0 auto!important;
    	display: block;
    }

    .give-total-wrap {
	    display: flex;
	    justify-content: center;
    }
}

.give-label {
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
}

.ffm-radio-field {
    width: 100%;
}

#give_error_test_mode {
    height: 3px;
    overflow: hidden;
    padding: initial;
    box-shadow: none;
    width: 3px;
    border-radius: 50%;

    &:hover {
    	position: relative;
	    padding: 1em 1.5em 1em 2em;
	    box-shadow: 0 1px 1px rgba(0,0,0,.125);
	    height: auto;
	    width: auto;
	    overflow: visible;
	    border-radius: 0;
    }
}

.give-btn-reveal {
	@include btn_small;
}