.navbar {
    padding: 0;
}

.page-template-historic-site {
    h3 {
        color: $light-navy;
    }
    .hs_submenu{
        font-family: $font-family-header;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.86;
        letter-spacing: 1px;
        text-align: center;
        color: $white-two;
        margin-top: 15px;

        a {
            color: $white_two;
            margin-right: 15px;
        }
        a:hover {
            color: $marigold;
        }
    }
}

.banner_image {
    & > img {
            width: 100%;
    }
}