.page-template-historic-site {
    h3 {
        color: $light-navy;
    }
    .hs_submenu{
        font-family: GothamNarrow;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.86;
        letter-spacing: 1px;
        text-align: center;
        color: $white-two;
        margin-top: 15px;

        a {
            color: $white_two;
            margin-right: 15px;
        }
        a:hover {
            color: $marigold;
        }
    }
}
.banner_image {
    & > img {
            width: 100%;
    }
}
.historic-mega-menu {
    background-color: $nice-blue;
    height: 78px;
}
#mega-menu-wrap-hictoricmenu {
    background-color: $nice-blue;

    #mega-menu-hictoricmenu {
        li.mega-menu-item {
            a.mega-menu-link {
                font-family: GothamNarrow;
                font-size: 18px;
                font-weight: bold !important;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.7px;
                text-align: left;
                color: $white-two;
                line-height: 78px;
                height: 78px;
                &:first-child {
                    padding-left: 27px !important;
                    padding-right: 50px !important;
                }
            }
            a.mega-menu-link:hover,
            a.mega-menu-link:focus {
                font-family: GothamNarrow;
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.7px;
                text-align: left;
                color: $white-two;
                line-height: 78px;
                height: 78px;

                &:after {
                    border: solid $light-navy;
                    border-width: 2px 0 0 2px;
                    top: calc(50% - 5px);
                }
            }
            a.mega-menu-link:after {
                position: absolute;
                content: '';
                display: block;
                right: 27px;
                width: 0;
                height: 0;
                border: solid $white-two;
                border-width: 0 2px 2px 0;
                padding: 4px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                top: calc(50% - 9px);
                pointer-events: none;
            }
        }
        .mega-sub-menu {
            padding: 0 !important;

            li.mega-menu-item {
                padding: 36px 50px !important;
                &:first-child {
                    padding-left: 37px !important;
                }
                &:last-child {
                    padding-right: 37px !important;
                }

                a.mega-menu-link{
                    font-family: GothamNarrow !important;
                    font-size: 20px !important;
                    font-weight: bold !important;
                    font-style: normal !important;
                    font-stretch: normal !important;
                    line-height: normal !important;
                    letter-spacing: 0.6px !important;
                    text-align: left !important;
                    color: $nice-blue !important;
                    line-height: 45px !important;
                    height: 45px !important;
                    margin-bottom: 7px !important;
                    &:first-child {
                        padding-left: 0 !important;
                    }
                }
                
                .mega-sub-menu {
                    padding: 0 !important;
                    li.mega-menu-item {
                        padding: 0 !important;

                        a.mega-menu-link{
                            font-family: GothamNarrow !important;
                            font-size: 18px !important;
                            font-weight: normal !important;
                            font-style: normal !important;
                            font-stretch: normal !important;
                            line-height: normal !important;
                            letter-spacing: 0.5px !important;
                            text-align: left !important;
                            color: $nice-blue !important;
                            line-height: 49px !important;
                            height: 49px !important;
                            border-bottom: solid 0.5px #979797 !important;
                            margin-bottom: 0 !important;
                        }
                    }
                }
        
                .mega-sub-menu li:last-child{
                    a.mega-menu-link{
                        border-bottom: 0 none !important;
                    }
                }
            }
        }
    }
}

#mega-menu-wrap-hictoricmenu 
#mega-menu-hictoricmenu > li.mega-menu-item.mega-toggle-on > 
a.mega-menu-link, 
#mega-menu-wrap-hictoricmenu #mega-menu-hictoricmenu > 
li.mega-menu-item > a.mega-menu-link:hover, 
#mega-menu-wrap-hictoricmenu #mega-menu-hictoricmenu > li.mega-menu-item > 
a.mega-menu-link:focus {
    background-color: $white-one;
    font-family: GothamNarrow;
    font-size: 18px;
    letter-spacing: 1.7px;
    color: $light-navy;
}
#mega-menu-wrap-hictoricmenu #mega-menu-hictoricmenu > li.mega-menu-megamenu > ul.mega-sub-menu{
    background-color: $white-one;
}