.page-template-homepage-site {
    .banner_image {
        max-height: calc( 100vh - 200px );

        .heading{
            @include font-smoothing;
            position: absolute;
            top: 0;
            padding: 0 200px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            .align-middle {
                display: flex;
                max-width: 790px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .title{
                color: $white-two;
                text-align: center;
                margin-bottom: 36px;
            }
        }

        p {
            @include font-sizing(24,28);
            letter-spacing: normal;
            text-align: center;
            color: $white-two;
            margin-bottom: 36px;
        }
    }
}

.our_work {
    text-align: center;
    @include font-smoothing;

    h2 {
        font-size: 20px;
        letter-spacing: 1.4px;
        text-align: center;
        color: $white-two;
        text-transform: uppercase;
    }

    p {
        text-align: center;
        color: $white-two;
        margin-bottom: 0px;
    }

    .focus {
        padding: 37px 50px;
        text-align: center;

        img {
            height: 64px;
            margin-bottom: 18px;
        }
    }

    .focus1 {
        background-color: $nice-blue;
    }

    .focus2 {
        background-color: $red-brown;
    }

    .focus3 {
        background-color: $nice-blue;
    }
}
