.page-template-homepage-site {
    .banner_image {
        height: calc( 100vh - 220px );
        overflow: hidden;
        position: relative;
        width: 100%;

        background-position: center;
        background-size: cover;

        .tint {
            background: black;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .heading{
            @include font-smoothing;
            position: absolute;
            top: 0;
            padding: 0 40px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            @include media-breakpoint-down(lg) {
                font-size: .825em;
            }

            @include media-breakpoint-down(md) {
                font-size: .75em;
            }

            .btn {
                font-size: 18px;
            }

            .align-middle {
                display: flex;
                max-width: 790px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .title{
                color: $white;
                text-align: center;
                margin-bottom: 36px;
            }
        }

        p {
            @include font-sizing(24,28);
            letter-spacing: normal;
            text-align: center;
            color: $white;
            margin-bottom: 36px;
        }
    }
}

.our_work {
    text-align: center;
    @include font-smoothing;

    h2 {
        font-size: 20px;
        letter-spacing: 1.4px;
        text-align: center;
        color: $white;
        text-transform: uppercase;
    }

    a:hover {
        text-decoration: none;
    }

    p {
        text-align: center;
        color: $white;
        margin-bottom: 0px;

        a {
            color:$white;
            text-decoration: underline;

            &:hover, &:active, &:focus {
                color: $marigold;
            }
        }
    }

    .focus {
        padding: 37px 50px;
        text-align: center;

        img {
            height: 64px;
            margin-bottom: 18px;
        }
    }

    .focus1 {
        background-color: $nice-blue;
    }

    .focus2 {
        background-color: $red-punch;
    }

    .focus3 {
        background-color: $nice-blue;
    }
}

.featured_post {
    @include font-smoothing;

    h2 {
        font-size: 36px;
        line-height: normal;
        letter-spacing: 0.7px;
        color: $white;
        margin-bottom: 25px;
    }

    p, a {
        color: $white;
    }

    .links a {
        font-style: italic;
        color: $white;
        display: inline-block;
        padding-right: 1.5em;

        &:hover, &:focus {
            text-decoration: underline;
        }

        &:after {
            content: '';
            display: inline-block;
            width: .4em;
            height: .4em;
            border-right:2px solid $white;
            border-top:2px solid $white;
            transform: translateX(.25em) translateY(-0.125em) rotate(45deg);
        }
    }
}
